/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: skyblue;
  list-style: none;
}
ul {
  padding: 0;
}

.app_titile {
  color: white;
  text-align: center;
}

.add_btn {
  background-color: white;
  text-decoration: none;
  border: solid 1px black;
  color: skyblue;
  padding: 3px 5px;
}

.index_ul {
  list-style: none;
  width: 60%;
}

.taskbox {
  background-color: white;

  margin: 20px;
  padding: 20px;

  position: relative;
}

.btn_set {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.ed_de_btn {
  background-color: skyblue;
  text-decoration: none;
  border: solid 1px black;
  color: white;
  padding: 3px 5px;
}

.content {
  display: flex;
}
.projectbox {
  width: 20%;
  margin: 50px auto;
  padding: 20px;
  border: solid white 3px;
  height: 20%;
}
.p_btn {
  display: block;
  text-align: center;
  margin: 20px 10px;
}

.p_title {
  color: white;
  font-size: large;
  font-weight: bold;
}

.form_box {
  text-align: center;
}

.form {
  display: block;
  margin: 10px auto;
}
